$main-color: rgba(255, 255, 255, 0.9);
$sec-color: rgba(255, 255, 255, 0.85);
$dark-color: rgba(0, 0, 0, 0.7);
$sec-dark-color: rgba(0, 0, 0, 0.7);
$aux-color: rgba(255, 255, 255, 1);
$button-color: rgb(66, 133, 244);
$search-color: hsla(0, 0%, 10%, 0.8);
$placeholder-text-color: hsla(0, 0%, 0%, 0.69);
